* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main__header {
  width: 100%;
  display: flex;
  margin: 0 auto;
  min-height: 80px;
  justify-content: space-around;
  color: Grey;
  border-bottom: 1px solid;
  border-bottom-color: grey;
  align-items: center;
  white-space: nowrap;
}

.logo img {
  margin-left: 60px;
}

.main__header a {
  color: Grey;
}

.menu__list {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 45px;
  margin-right: 645px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  align-items: center;
}

.account {
  margin-right: 50px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.main__options {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  height: 70px;
  margin-top: 10px;
  gap: 45px;
  padding-bottom: 10px;
}

.catalog {
  display: flex;
  margin-left: 70px;
  justify-content: flex-start;
}

.catalog__list {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: bold;
}

.catalog__list a {
  font-size: 16px;
  color: rgba(71, 152, 222, 1);
}

.search_box {
  display: flex;
  justify-content: flex-start;
  width: 1000px;
  align-items: center;
}

form {
  justify-content: space-between;
  width: 540px;
  display: flex;
  border-radius: 12px;
  height: 50px;
  position: relative;
}

input {
  border: 2px solid gray;
  display: flex;
  height: 50px;
  position: relative;
  width: 700px;
  border-color: gray;
  padding-left: 40px;
}

button {
  justify-content: center;
  border: 2px solid black;
  display: flex;
  width: 100px;
  border-color: rgba(71, 152, 222, 1);
  border-radius: 0 6px 6px 0;
  background-color: rgba(71, 152, 222, 1);
}

.phone__phonenumber {
  font-weight: bold;
  color: gray;
  font-size: 16px;
  letter-spacing: 1px;
}

.phone {
  padding-left: 40px;
}

.phone__phonequestion {
  color: rgb(17, 192, 1);
}

.tools {
  margin-right: 42px;
  width: 400px;
}

.tools__list a {
  display: flex;
  flex-direction: column;
  color: rgba(71, 152, 222, 1);
}

.tools__list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.main-slide img {
  display: flex;
  width: 100%;
  height: 750px;
}

.main__slider {
  display: flex;
  height: 800px;
}

.main-promo {
  height: 100%;
}

.main-promo .swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  padding: 3px 15px;
}

.curtain {
  position: absolute;
  left: 1300px;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.623);
}

.curtain h1 {
  position: absolute;
  top: 300px;
  font-size: 40px;
  color: rgba(107, 107, 107, 0.685);
  left: 30px;
}

.curtain h2 {
  position: absolute;
  top: 360px;
  left: 30px;
  font-size: 40px;
  color: rgba(107, 107, 107, 0.685);
}

.curtain h3 {
  position: absolute;
  top: 420px;
  font-size: 60px;
  color: rgba(0, 214, 36, 0.685);
  left: 30px;
}

.curtain a {
  position: absolute;
  top: 520px;
  left: 30px;
  width: 150px;
  height: 45px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-color: rgba(71, 152, 222, 1);
  border-radius: 8px;
  background-color: rgba(71, 152, 222, 1);
}

.curtain p {
  position: absolute;
  top: 13px;
  left: 30px;
}

.main__stock-block {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.main__stock-block p {
  color: rgba(21, 36, 79, 1);
  font-size: 35px;
  font-weight: bold;
  padding-left: 80px;
  position: relative;
  z-index: 2;
}

.main__stock-block h1 {
  position: absolute;
  z-index: 1;
  color: rgba(241, 242, 246, 1);
  font-size: 110px;
  left: 160px;
}

.main__stock-block a {
  color: rgba(71, 152, 222, 1);
  font-size: 16px;
  font-weight: bold;
  padding-right: 70px;
}

.sale-banner {
  display: flex;
  height: 320px;
  margin-bottom: 15px;
}

.sale-slide img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
}

.sale-banner .swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  padding: 3px 10px;
}

.sale-banner .swiper-pagination {
  padding-bottom: 5px;
}
.sale-banner .sale-button-prev {
  top: initial;
  bottom: 0px;
  left: 42%;
}

.sale-banner .sale-button-next {
  top: initial;
  bottom: 0px;
  right: 42%;
}

.sale-banner .swiper-button-prev:after,
.sale-banner .swiper-button-next:after {
  font-size: 22px !important;
  font-weight: bold;
}

.catalog__header {
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
}

.section {
  padding-top: 100px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  min-height: 80px;
  justify-content: space-between;
  color: Grey;
}
.section a {
  flex-grow: 1;
  border: 1px solid rgba(241, 242, 246, 1);
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  min-height: 80px;
  display: flex;
  color: Grey;
  justify-content: center;
  margin-bottom: 1px;
}

.section img {
  margin-right: 5px;
}
.section a:hover {
  background-color: rgba(241, 242, 246, 1);
  font-weight: bold;
  color: rgba(71, 152, 222, 1);
}

.section a:focus {
  border: none;
  background-color: rgba(241, 242, 246, 1);
  font-weight: bold;
  color: rgba(71, 152, 222, 1);
}

.subsection {
  background-color: rgba(241, 242, 246, 1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  min-height: 80px;
}

.subsection a {
  font-size: 14px;
  color: Grey;
}

.subsection a:hover {
  font-weight: bold;
  text-decoration: underline;
  color: rgba(71, 152, 222, 1);
}

.subsection a:focus {
  font-weight: bold;
  text-decoration: underline;
  color: rgba(71, 152, 222, 1);
}

.catalog__items {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;

  padding-bottom: 10px;
}

.item_card {
  border: 1px solid rgba(241, 242, 246, 1);
  align-items: center;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.item__img {
  width: 300px;
  height: 220px;
}

.item__img img {
  width: 100%;
  height: 100%;
}

.item__description {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-right: 120px;
}

.name {
  color: gray;
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.brand {
  color: gray;
  font-size: 13px;
  margin-bottom: 5px;
}

.country {
  color: gray;
  font-size: 13px;
  margin-bottom: 12px;
}

.instock {
  color: rgba(71, 152, 222, 1);
  font-size: 13px;
  margin-bottom: 15px;
}

.price {
  color: black;
  font-weight: bold;
  font-size: 22px;
}

.item__basket button {
  width: 140px;
  height: 40px;
  align-items: center;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-color: rgba(71, 152, 222, 1);
  border-radius: 8px;
  background-color: rgba(71, 152, 222, 1);
}

.item__basket {
  visibility: hidden;
  margin-top: 25px;
  display: flex;
  margin-left: 10px;
  gap: 20px;
}

.item_card:hover .item__basket {
  visibility: visible;
}

.item_tools {
  width: 30px;
  height: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

.item_card:hover {
  box-shadow: 6px 6px 6px -5px rgba(71, 152, 222, 1);
}

.item__more {
  display: flex;
  width: 140px;
  height: 40px;
  margin: 0 auto;
  border-color: rgba(71, 152, 222, 1);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);

  color: rgba(71, 152, 222, 1);
  align-items: center;
  margin-bottom: 100px;
}

.item_hit {
  width: 102px;
  height: 25px;
  color: white;
  border-radius: 3px;
  background-color: rgba(108, 219, 126, 1);
  display: flex;
  position: inherit;
  margin-left: 170px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.advertisement {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 200px;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-image: linear-gradient(
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.479),
      rgb(255, 255, 255)
    ),
    url(/images/ravak_chrome-1.jpg);
}

.advertisement__stat {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advertisement__stat h1 {
  color: rgba(108, 219, 126, 1);
  font-size: 75px;
  font-weight: lighter;
  padding-top: 50px;
}

.advertisement__stat p {
  color: rgba(111, 118, 130, 1);
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 50px;
}

.advertisement__blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}

.advertisement__block h1 {
  color: rgba(21, 36, 79, 1);
  font-size: 16px;
  font-weight: bold;
}

.advertisement__block p {
  color: rgba(111, 118, 130, 1);
  font-size: 164x;
}

.advertisement__blocks img {
  height: 80px;
  width: 80px;
}

.advertisement__slogan h1 {
  display: flex;
  flex-direction: column;
  font-size: 35px;
  font-weight: lighter;
  white-space: nowrap;
  color: rgba(21, 36, 79, 1);
  line-height: 1.5;
}

.help-banner {
  margin-top: 60px;
  width: 100%;
  height: 350px;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
}

.help-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex !important;
}

.help-slide img {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 200px;
  border: 3px solid rgba(71, 152, 222, 1);
  border-radius: 10px;
}

.help-banner .swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  padding: 3px 10px;
}

.help-banner .swiper-pagination {
  margin-bottom: 7px;
}

.help-banner .help-button-prev {
  top: initial;
  bottom: 0px;
  left: 40%;
}

.help-banner .help-button-next {
  top: initial;
  bottom: 0px;
  right: 40%;
  margin-top: 150px;
}

.help-banner .swiper-button-prev:after,
.help-banner .swiper-button-next:after {
  font-size: 22px !important;
  font-weight: bold;
}

.help-slide p {
  position: absolute;
  bottom: 25%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  z-index: 1;
}

.categories {
  padding-top: 100px;
  width: 100%;
  height: 505px;
  background-repeat: no-repeat;
  background-position: right;
  background-image: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.473)
    ),
    linear-gradient(
      to bottom,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.473),
      rgb(255, 255, 255)
    ),
    url(/images/b-10.jpg.pagespeed.ce1.png);
}
